.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: calculateRem(20px);

  p {
    color: $gray;
  }

  h2 {
    font-size: calculateRem(18px);
    line-height: normal;
  }

  &__title {
    margin-bottom: calculateRem(36px);
    font-size: calculateRem(36px);
    text-align: center;
  }

  &__form {
    padding: calculateRem(24px) calculateRem(16px);
    position: relative;
    border-radius: 16px;
    width: 100%;
    max-width: calculateRem(665px);
    box-shadow: 0 4px 53.8px -2px rgba(0, 0, 0, 0.15);
    background-color: $white;

    &.error {
      h1 {
        color: $yellow;
      }

      h2{
        margin-bottom: calculateRem(16px);
      }
    }
  }

  &__image {
    margin: 0 auto calculateRem(16px);
    @include size(calculateRem(96px));

    img {
      @include size(100%);
      object-fit: contain;
    }
  }

  &__item {
    margin-bottom: calculateRem(36px);

    &:last-child {
      margin-bottom: 0;
    }

    label {
      color: $black;
      margin-bottom: calculateRem(12px);
      font-weight: bold;
      line-height: normal;
    }
  }

  &__file {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: calculateRem(16px) calculateRem(24px);
    border-radius: 12px;
    box-shadow: 0 4px 73.8px -2px rgba(0, 0, 0, 0.10);
    background-color: $white;

    &__icon {
      color: $yellow;
      margin-right: calculateRem(24px);
    }

    &__text {
      flex: 1;

      h2 {
        margin-bottom: calculateRem(4px);
      }
    }
  }

  &__link {
    position: relative;
    @extend %displayFlex;
    padding: calculateRem(8px) calculateRem(8px) calculateRem(8px) calculateRem(24px);
    border-radius: 12px;
    box-shadow: 0 4px 73.8px -2px rgba(0, 0, 0, 0.10);
    background-color: $white;

    p {
      color: $black;
    }

    &__btn {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: calculateRem(8px) calculateRem(16px) calculateRem(8px) calculateRem(50px);
      border-radius: 10px;
      background-color: $yellow;
      color: $white;

      svg {
        position: absolute;
        left: calculateRem(-9px);
      }
    }

    &__msg {
      position: absolute;
      bottom: 100%;
      margin-bottom: calculateRem(15px);
      white-space: nowrap;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 12px;
      background: #FFF;
      box-shadow: 0 4px 73.8px -2px rgba(0, 0, 0, 0.10);
      display: flex;
      justify-content: center;
      padding: calculateRem(16px) calculateRem(24px);
      pointer-events: none;
      animation: bounce 2s ease infinite;
      color: $black;
      font-weight: 500;
      height: max-content;

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        background-image: url("../images/chevron.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: calculateRem(22px);
        height: calculateRem(12px);
      }

      &.hide {
        opacity: 0;
      }

      &.top-bar-msg {
        position: fixed;
        transform: unset;
        top: calculateRem(30px);
        left: calculateRem(150px);
        z-index: 5;
        animation: bounce-top 2s ease infinite;
        @extend %transition;
        opacity: 0;

        &:after {
          top: auto;
          bottom: 100%;
          transform: translateX(-50%) rotate(180deg);
        }

        &.active {
          opacity: 1;
        }
      }

      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0) translateX(-50%);
        }
        40% {
          transform: translateY(-30px) translateX(-50%);
        }
        60% {
          transform: translateY(-15px) translateX(-50%);
        }
      }

      @keyframes bounce-top {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-30px);
        }
        60% {
          transform: translateY(-15px);
        }
      }
    }
  }

  &__pass {
    text-align: center;
    background-color: #FFE4D8;
    color: $yellow;
    padding: calculateRem(16px) calculateRem(24px);
    border-radius: 0 12px 12px 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    h2 {
      font-size: calculateRem(22px);
      color: inherit;
    }

    p {
      color: inherit;
    }
  }
}