{% extends "../templates/layout.njk" %}
{% block content %}
    <!-- 404 not found -->
    <section class="main">
        <div class="main__form error text-center">
            <div class="main__image">
                <img src="images/error.svg" alt="">
            </div>
            <div class="main__file__text">
                <h1 class="main__title">Error</h1>
                <h2>This link doesn’t exist or wrong address</h2>
                <p>Probably, you have writed incorect adress, try again</p>
            </div>
        </div>
    </section>
    <!-- 404 not found -->
{% endblock %}