{% extends "../templates/layout.njk" %}
{% block content %}
    <div class="main__link__msg top-bar-msg">Paste link here</div>
    <section class="main">
        <div class="main__form">
            <h1 class="main__title">Your download link is ready</h1>
            <div class="main__item">
                <label>File</label>
                <div class="main__file">
                    <div class="main__file__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem">
                            <use xlink:href="#svg-file"></use>
                        </svg>
                    </div>
                    <div class="main__file__text">
                        <h2>YetAnotherFile.zip</h2>
                        <p>43,3 MB</p>
                    </div>

                    <div class="main__pass">
                        <h2>1234</h2>
                        <p>Password</p>
                    </div>
                </div>
            </div>

            <div class="main__item">
                <label>Link</label>
                <div class="main__link">
                    <p>?search=YetAnotherFile.zip</p>
                    <div class="main__link__btn" data-url="?search=YetAnotherFile.zip">
                        <svg xmlns="http://www.w3.org/2000/svg" width="7.2rem" height="7.2rem">
                            <use xlink:href="#svg-copy"></use>
                        </svg>
                        Copy link

                        <div class="main__link__msg">Click to copy link</div>
                    </div>
                </div>
            </div>
            <div class="main__note text-center">
                <p>If link is not clickable, copy and paste it into the address bar</p>
            </div>
        </div>
    </section>
{% endblock %}
